{% extends 'base.html.twig' %}

{% block title %}Advertise index{% endblock %}

{% block body %}
    <h1>Advertise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAdvertise</th>
                <th>NameSociety</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertise in advertises %}
            <tr>
                <td>{{ advertise.idAdvertise }}</td>
                <td>{{ advertise.nameSociety }}</td>
                <td>{{ advertise.dateDebut ? advertise.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ advertise.dateFin ? advertise.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_advertise_show', {'idAdvertise': advertise.idAdvertise}) }}">show</a>
                    <a href="{{ path('app_advertise_edit', {'idAdvertise': advertise.idAdvertise}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_advertise_new') }}">Create new</a>
{% endblock %}
