{% extends 'base.html.twig' %}

{% block title %}Bracket index{% endblock %}

{% block body %}
    <h1>Bracket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TeamName</th>
                <th>Team</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bracket in brackets %}
            <tr>
                <td>{{ bracket.teamName }}</td>
                <td>{{ bracket.team }}</td>
                <td>{{ bracket.date ? bracket.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_bracket_show', {'idBracket': bracket.idBracket}) }}">show</a>
                    <a href="{{ path('app_bracket_edit', {'idBracket': bracket.idBracket}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bracket_new') }}">Create new</a>
{% endblock %}
