

<!DOCTYPE html>
<html lang="fr">



<body>

<h1 align ='center'>contrat publicitaire</h1>




<br>
<br>


<table >
    <tr>
         <td>
            <div>
                <span class="h2">Mejri achref (victorious)</span>
                <p>ariena soghra 1200 esprit</p>
                <p>Teléfono: +(216) 50556323</p>
                <p>Email: Contact@victorious.com</p>
            </div>
        </td>
        <td>
            <div >
                <img  src="assets/images/logo.png" alt="GoodGames" width="221">
            </div>
        </td>
        <td >
            <div class="round">
                <span class="h3">Facture</span>
                <p>N°Factur: <strong>{{ publicite.id }}</strong></p>
                <p>date contrat : </p>
                <p>Heur contrat: ...:... am/pm</p>

            </div>
        </td>
    </tr>
</table>
<br>
<br>
<br>

{% block contenpage %}


    <table class="table">
        <tbody>

        <tr>
            <th>Nom</th>
            <td>{{ publicite.nom }}</td>
        </tr>

        <tr>
            <th>DateDebut</th>
            <td>{{ publicite.dateDebut ? publicite.dateDebut|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>DateFin</th>
            <td>{{ publicite.dateFin ? publicite.dateFin|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>NomProprietaire</th>
            <td>{{ publicite.nomProprietaire }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ publicite.prix }} dt</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ publicite.description }}</td>
        </tr>

        </tbody>
    </table>


{% endblock %}
<br><br><br><br>
signature
<br>
<div >
    <img  src="assets/images/achrefsi.jpg"  width="221">
</div>
</body>