{% extends 'base.html.twig' %}

{% block title %}Winner index{% endblock %}

{% block body %}
    <h1>Winner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameTournament</th>
                <th>NameWinner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for winner in winners %}
            <tr>
                <td>{{ winner.id }}</td>
                <td>{{ winner.nameTournament }}</td>
                <td>{{ winner.nameWinner }}</td>
                <td>
                    <a href="{{ path('app_winner_show', {'id': winner.id}) }}">show</a>
                    <a href="{{ path('app_winner_edit', {'id': winner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_winner_new') }}">Create new</a>
{% endblock %}
